<ion-view view-title="">
    <ion-content>
        <!-- Formulário de Cadastro -->
        <div class="container">
            <div class="view-form">
                <form action="#SV" name="cadastrasv" class="form-horizontal" method="post">
                    <input type="hidden" id="id" name="id"/>
                    <div class="panel panel-default">
                        <div class="panel-heading"> Cadastro de Profissional</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="nome" class="control-label col-md-2"><span class="obrigatorio">*</span> Nome</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="nome" maxlength="100" placeholder="Nome" required>
                                </div>

                                <label for="sexo" class="control-label col-md-2"><span class="obrigatorio">*</span> Sexo</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="sexo" maxlength="14" placeholder="Sexo" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="crm" class="control-label col-md-2"><span class="obrigatorio">*</span> Registro</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="crm" maxlength="14" placeholder="CRM" required>
                                </div>
                                <label for="descricao" class="control-label col-md-2"> Descrição</label>
                                <div class="col-md-4">
                                    <input  type="text" class="form-control" maxlength="14" name="descricao" placeholder="Descrição" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="especialidade" class="control-label col-md-2"> Especialidade</label>
                                <div class="col-md-4">
                                    <input  type="text" class="form-control" maxlength="100" name="especialidade" placeholder="Especialidade" required />
                                </div>

                                <label for="foto" class="control-label col-md-2"> Foto</label>
                                <div class="col-md-4">
                                    <input  type="file" class="form-control"  name="foto"  required />
                                </div>
                            </div>
                            <br/><br/><br/><br/><br/><br/>

                            <!-- BOTÕES DE AÇÕES -->
                            <div class="form-group">
                                <div style="alignment-adjust: central" ><center>
                                    <span id="load"></span>
                                    <input type="submit" name="btnsubmit" class="btn btn-success" aria-label="Left Align">
                                    <input type="reset" name="btnreset" class="btn btn-danger" aria-label="Right Align">
                                </center>
                                </div>
                                <div class="col-md-12" style="text-align: right">
                                    <span class="obrigatorio">*</span> Campos Obrigatórios
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>