<ion-view view-title="" ng-controller="unidadeDeSaudeCtrl">
    <div class="bar bar-reader bar-positive">
        <h1 class="title">  Unidades de Saúde</h1>
    </div>

        <ion-nav-buttons side="left">

            <button class="button button-icon button-clear ser_icon left_btn" ng-click="search_doc()">
                <img src="img/ic2.png"/>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div ng-class="{'animated slideInRight':search_input}" class="bar bar-subheader">
        <div class="list ser_inpt" ng-if="search_input">
            <label class="item item-input">
                <input type="text" placeholder="Buscar">
            </label>
        </div>
    </div>

    <ion-content class="main_bg hospital_list" style="background:#FFFFFF">


            <div class="" style="padding-top: 45px">
                <a ng-click="setUN($index)"
                   collection-repeat="un in unidadeSaudes"
                   collection-item-width="'100%'"
                   collection-item-height="160px"
                >

                    <div class="row">
                        <div class="col"  collection-item-width="'160px'">
                            <img src="{{un.imagem.url}}"/>
                        </div>
                        <div class="col hospital_data">

                            <div class="padding">
                                <!--<h3>{{un.nome}}</h3>-->
                                <p class="title_hosp positive" style="color: #00c9f5">{{un.nome}}</p>
                                <p> {{un.descricao}}</p>
                                <span class="date">
                                    <i  class ="icon ion-ios-timer"></i>
                         <iframe src="{{un.url}}" /></span>
                                <p class="subdued">
                                    <i  class ="icon ion-location"></i>
                                    {{un.endereco.complemento.descricao}} ,
                                    {{un.endereco.rua.nome}} ,
                                    {{un.endereco.rua.bairro.nome}} ,
                                    {{un.endereco.rua.bairro.cidade.nome}} ,
                                    {{un.endereco.rua.bairro.cidade.estado.nome}} ,
                                    {{un.endereco.rua.bairro.cidade.estado.pais.nome}}
                                </p>





                                <!--<div class="rate">-->
                                    <!--<i class="ion-star"></i>-->
                                    <!--<i class="ion-star"></i>-->
                                    <!--<i class="ion-star"></i>-->
                                    <!--<i class="ion-star in_active"></i>-->
                                    <!--<i class="ion-star in_active"></i>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </div>

                </a>
            </div>

    </ion-content>
</ion-view>







